<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Reset Password</title></head>
<body>
  <h1>Reset Password</h1>
  <form th:action="@{/reset-password}" method="post">
    <label>User Type:</label>
    <select name="userType">
      <option>Patient</option>
      <option>Doctor</option>
    </select><br/>
    <label>Name:</label><input type="text" name="name" required/><br/>
    <label>Gmail:</label><input type="email" name="gmail" required/><br/>
    <label>New Password:</label><input type="password" name="newPassword" required/><br/>
    <button type="submit">Reset</button>
  </form>
  <p><a th:href="@{/}">Back to Login</a></p>
</body>
</html>
